---
name: Build Fedora

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 6"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

env:
  UPSTREAM_IMAGE: quay.io/fedora-ostree-desktops/silverblue:43
  PREVIOUS_IMAGE: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:43

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    timeout-minutes: 40
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Git sources
        uses: actions/checkout@v6

      - name: Free up space
        shell: bash
        run: |
          # https://github.com/actions/runner-images/issues/10386
          sudo df -h
          sudo rm -rf /opt/hostedtoolcache /usr/local/.ghcup /opt/ghc /usr/local/lib/android /usr/share/dotnet /usr/local/share/boost
          sudo df -h

      - name: Pull base images
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            sudo podman pull '${{ env.PREVIOUS_IMAGE }}' || { echo "PREVIOUS_IMAGE=" | tee -a "$GITHUB_ENV"; }
            sudo podman pull '${{ env.UPSTREAM_IMAGE }}'

      - name: Get upstream version
        id: upstream_version
        shell: bash
        run: |
          version=$(sudo podman image inspect --format '{{ index .Config.Labels "org.opencontainers.image.version" }}' '${{ env.UPSTREAM_IMAGE }}')
          echo "version=$version" | tee -a "$GITHUB_OUTPUT"

      - name: Build image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            sudo podman build -f Containerfile --build-arg UPSTREAM_IMAGE=${{ env.UPSTREAM_IMAGE }} --tag raw-image .

      - name: Rechunk
        id: rechunk
        uses: hhd-dev/rechunk@v1.2.4
        with:
          rechunk: ghcr.io/hhd-dev/rechunk:v1.2.4
          ref: raw-image
          prev-ref: ${{ env.PREVIOUS_IMAGE }}
          version: ${{ steps.upstream_version.outputs.version }}

      - name: Push image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            echo '${{ secrets.GITHUB_TOKEN }}' | sudo podman login ghcr.io -u '${{ github.actor }}' --password-stdin
            echo '${{ secrets.GITHUB_TOKEN }}' | sudo docker login ghcr.io -u '${{ github.actor }}' --password-stdin
            version_full=${{ steps.rechunk.outputs.version }}
            version_major=$(echo "$version_full" | cut -d'.' -f1)
            if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
              tags=($version_major.pr-${{ github.event.number }}.build-${{ github.run_number }} $version_major.pr-${{ github.event.number }})
            else
              tags=($version_major.build-${{ github.run_number }} $version_major $version_full latest)
            fi
            for tag in ${tags[@]}; do
              (set -x; sudo skopeo copy '${{ steps.rechunk.outputs.ref }}' "docker://ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:$tag")
            done
