---
name: Build Fedora

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 1,15 * *"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

env:
  UPSTREAM_IMAGE: quay.io/fedora-ostree-desktops/silverblue:43
  PREVIOUS_IMAGE: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:43
  BUILD_IMAGE: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
  BUILD_TAGS: "" # will be set by the workflow

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      packages: write

    steps:
      - name: Free up space
        shell: bash
        run: |
          set -eux -o pipefail
          # https://github.com/actions/runner-images/issues/10386
          df -h
          sudo rm -rf /opt/hostedtoolcache \
                      /usr/local/.ghcup /opt/ghc \
                      /usr/local/lib/android \
                      /usr/share/dotnet \
                      /usr/local/share/boost
          docker system prune -af --volumes
          podman system prune -af --volumes
          df -h

      - name: Checkout Git sources
        uses: actions/checkout@v6

      - name: Pull previous image
        shell: bash
        run: |
          podman pull '${{ env.PREVIOUS_IMAGE }}' || { echo "PREVIOUS_IMAGE=" | tee -a "$GITHUB_ENV"; }

      - name: Pull upstream image
        uses: Wandalen/wretry.action/main@v3
        with:
          attempt_delay: 15000
          attempt_limit: 3
          command: podman pull '${{ env.UPSTREAM_IMAGE }}'

      - name: Build image
        uses: Wandalen/wretry.action/main@v3
        with:
          action: redhat-actions/buildah-build@v2
          attempt_delay: 15000
          attempt_limit: 2
          with: |
            containerfiles: ./Containerfile
            oci: true
            image: raw-image
            build-args: |
              UPSTREAM_IMAGE=${{ env.UPSTREAM_IMAGE }}

      - name: Rechunk
        uses: hhd-dev/rechunk@v1.2.4
        with:
          rechunk: ghcr.io/hhd-dev/rechunk:v1.2.4
          prev-ref: ${{ env.PREVIOUS_IMAGE }}
          ref: raw-image
          version: rechunked-image

      - name: Set image tags
        shell: bash
        run: |
          set -eu -o pipefail
          version_full=$(podman image inspect --format '{{ index .Config.Labels "org.opencontainers.image.version" }}' '${{ env.UPSTREAM_IMAGE }}')
          version_major=$(echo "$version_full" | cut -d'.' -f1)
          if [[ -z "$version_full" ]] || [[ ! "$version_major" =~ ^[0-9]+$ ]]; then
            echo "Invalid version '$version_full' from upstream image!" 1>&2 && exit 1
          fi
          if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
            tags="$version_major.pr-${{ github.event.number }}.build-${{ github.run_number }} $version_major.pr-${{ github.event.number }}"
          else
            tags="$version_major.build-${{ github.run_number }} $version_major $version_full latest"
          fi
          for tag in $tags; do
            podman tag 'rechunked-image' "${{ env.BUILD_IMAGE }}:$tag"
          done
          echo "BUILD_TAGS=$tags" | tee -a "$GITHUB_ENV"

      - name: Push image
        uses: Wandalen/wretry.action/main@v3
        with:
          action: redhat-actions/push-to-registry@v2
          attempt_delay: 15000
          attempt_limit: 3
          with: |
            registry: ghcr.io/${{ github.repository_owner }}
            image: ${{ github.event.repository.name }}
            tags: ${{ env.BUILD_TAGS }}
            username: ${{ github.actor }}
            password: ${{ github.token }}
