---
name: Build Fedora

on:
  workflow_dispatch:
    inputs:
      fresh_rechunk:
        description: "Fresh rechunk"
        type: boolean
        required: false
        default: false
  schedule:
    - cron: "0 12 * * 6"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

env:
  UPSTREAM_IMAGE: quay.io/fedora-ostree-desktops/silverblue:43

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    timeout-minutes: 40
    permissions:
      contents: read
      packages: write

    steps:
      - name: Free up disk space
        shell: bash
        run: |
          set -eux -o pipefail
          # https://github.com/actions/runner-images/issues/10386
          sudo df -h
          sudo rm -rf /opt/hostedtoolcache /usr/local/.ghcup /opt/ghc /usr/local/lib/android /usr/share/dotnet /usr/local/share/boost
          sudo df -h

      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Pull upstream image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eux -o pipefail
            sudo podman pull '${{ env.UPSTREAM_IMAGE }}'

      - name: Set build parameters
        id: params
        shell: bash
        run: |
          set -eux -o pipefail
          version_full=$(sudo podman image inspect --format '{{ index .Config.Labels "org.opencontainers.image.version" }}' '${{ env.UPSTREAM_IMAGE }}')
          version_major=$(echo "$version_full" | cut -d'.' -f1)
          if [[ '${{ inputs.fresh_rechunk }}' == 'true' ]]; then
            rechunk_ref=''
          else
            rechunk_ref="ghcr.io/${{ github.repository_owner}}/${{ github.event.repository.name }}:$version_major"
          fi
          echo "version_full=$version_full" | tee -a "$GITHUB_OUTPUT"
          echo "version_major=$version_major" | tee -a "$GITHUB_OUTPUT"
          echo "rechunk_ref=$rechunk_ref" | tee -a "$GITHUB_OUTPUT"

      - name: Build image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eux -o pipefail
            sudo buildah build -f Containerfile --build-arg UPSTREAM_IMAGE='${{ env.UPSTREAM_IMAGE }}' --tag new-image .

      - name: Rechunk image
        id: rechunk
        uses: hhd-dev/rechunk@v1.2.4
        with:
          rechunk: ghcr.io/hhd-dev/rechunk:v1.2.4
          ref: new-image
          prev-ref: "${{ steps.params.outputs.rechunk_ref }}"
          version: "${{ steps.params.outputs.version_full }}"

      - name: Container registry login
        shell: bash
        run: sudo skopeo login --username '${{ github.actor }}' --password '${{ secrets.GITHUB_TOKEN }}' ghcr.io

      - name: Push image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eux -o pipefail
            version_full='${{ steps.rechunk.outputs.version }}'
            version_major='${{ steps.params.outputs.version_major }}' # version updated by rechunk step
            if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
              tags=("$version_major.pr-${{ github.event.number }}.build-${{ github.run_number }}" "$version_major.pr-${{ github.event.number }}")
            else
              tags=("$version_full" "$version_major.build-${{ github.run_number }}" "$version_major" 'latest')
            fi
            source_image='${{ steps.rechunk.outputs.ref }}'
            for tag in "${tags[@]}"; do
              dest_image="docker://ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:$tag"
              sudo skopeo copy "$source_image" "$dest_image"
              source_image="$dest_image" # uses the pushed image as source for the next tag
            done
