---
name: Build Fedora

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 6"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

env:
  UPSTREAM_IMAGE: quay.io/fedora-ostree-desktops/silverblue:43
  BOOTC_IMAGE: quay.io/fedora/fedora-bootc:43

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    timeout-minutes: 40
    permissions:
      contents: read
      packages: write

    steps:
      - name: Free up disk space
        shell: bash
        run: |
          set -eux -o pipefail
          # https://github.com/actions/runner-images/issues/10386
          sudo df -h
          sudo rm -rf /opt/hostedtoolcache /usr/local/.ghcup /opt/ghc /usr/local/lib/android /usr/share/dotnet /usr/local/share/boost
          sudo df -h

      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Container registry login
        shell: bash
        run: |
          set -eu -o pipefail
          sudo skopeo login --username '${{ github.actor }}' --password '${{ secrets.GITHUB_TOKEN }}' ghcr.io

      - name: Pull upstream image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eux -o pipefail
            sudo podman pull '${{ env.UPSTREAM_IMAGE }}' '${{ env.BOOTC_IMAGE }}'

      - name: Set build parameters
        id: params
        shell: bash
        run: |
          set -eux -o pipefail
          version_full=$(sudo podman image inspect --format '{{ index .Config.Labels "org.opencontainers.image.version" }}' '${{ env.UPSTREAM_IMAGE }}')
          version_major=$(echo "$version_full" | cut -d'.' -f1)
          echo "version_full=$version_full" | tee -a "$GITHUB_OUTPUT"
          echo "version_major=$version_major" | tee -a "$GITHUB_OUTPUT"

      - name: Build image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eux -o pipefail
            sudo buildah build -t localhost/new-image:raw -f Containerfile --build-arg UPSTREAM_IMAGE='${{ env.UPSTREAM_IMAGE }}' .

      - name: Rechunk image
        shell: bash
        run: |
          set -eux -o pipefail
          # https://docs.fedoraproject.org/en-US/bootc/building-from-scratch/#_optimizing_container_images
          sudo podman run --rm --privileged -v /var/lib/containers:/var/lib/containers '${{ env.BOOTC_IMAGE }}' \
            /usr/libexec/bootc-base-imagectl rechunk --max-layers 128 \
            localhost/new-image:raw localhost/new-image:rechunked

      - name: Push image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eux -o pipefail
            version_full='${{ steps.params.outputs.version }}'
            version_major='${{ steps.params.outputs.version_major }}'
            if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
              tags=("$version_major.pr-${{ github.event.number }}.build-${{ github.run_number }}" "$version_major.pr-${{ github.event.number }}")
            else
              tags=("$version_full" "$version_major.build-${{ github.run_number }}" "$version_major" 'latest')
            fi
            source_image='containers-storage:localhost/new-image:rechuked'
            for tag in "${tags[@]}"; do
              dest_image="docker://ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:$tag"
              sudo skopeo copy "$source_image" "$dest_image"
              source_image="$dest_image" # uses the pushed image as source for the next tag
            done
