---
name: Build Fedora

on:
  workflow_dispatch:
    inputs:
      initial_rechunk:
        description: "Initial rechunk"
        type: boolean
        required: false
        default: false
  schedule:
    - cron: "0 12 * * 6"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

env:
  UPSTREAM_IMAGE: quay.io/fedora-ostree-desktops/silverblue:43

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    timeout-minutes: 40
    permissions:
      contents: read
      packages: write

    steps:
      - name: Free up space
        shell: bash
        run: |
          set -eu -o pipefail
          # https://github.com/actions/runner-images/issues/10386
          sudo df -h
          sudo rm -rf /opt/hostedtoolcache /usr/local/.ghcup /opt/ghc /usr/local/lib/android /usr/share/dotnet /usr/local/share/boost
          sudo df -h

      - name: Checkout Git sources
        uses: actions/checkout@v6

      - name: Pull upstream image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eu -o pipefail
            sudo podman pull '${{ env.UPSTREAM_IMAGE }}'

      - name: Get upstream version
        id: upstream-version
        shell: bash
        run: |
          set -eu -o pipefail
          version_full=$(sudo podman image inspect --format '{{ index .Config.Labels "org.opencontainers.image.version" }}' '${{ env.UPSTREAM_IMAGE }}')
          version_major=$(echo "$version_full" | cut -d'.' -f1)
          echo "version_full=$version_full" | tee -a "$GITHUB_OUTPUT"
          echo "version_major=$version_major" | tee -a "$GITHUB_OUTPUT"

      - name: Build new image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eu -o pipefail
            sudo buildah build -f Containerfile --build-arg UPSTREAM_IMAGE='${{ env.UPSTREAM_IMAGE }}' --tag new-image .

      - name: Rechunk image
        id: rechunk
        uses: hhd-dev/rechunk@v1.2.4
        with:
          rechunk: ghcr.io/hhd-dev/rechunk:v1.2.4
          ref: new-image
          prev-ref: ${{ inputs.initial_rechunk && '' || format('ghcr.io/{0}/{1}:{2}', github.repository_owner, github.event.repository.name, steps.upstream-version.outputs.version_major) }}
          version: ${{ steps.upstream-version.outputs.version_full }}

      - name: Push image
        uses: Wandalen/wretry.action/main@v3
        with:
          command: |
            set -eu -o pipefail
            version_full=${{ steps.rechunk.outputs.version }}
            version_major=${{ steps.upstream-version.outputs.version_major }}
            if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
              tags=($version_major.pr-${{ github.event.number }}.build-${{ github.run_number }} $version_major.pr-${{ github.event.number }})
            else
              tags=($version_major.build-${{ github.run_number }} $version_major $version_full latest)
            fi
            echo '${{ secrets.GITHUB_TOKEN }}' | sudo skopeo login --username '${{ github.actor }}' --password-stdin ghcr.io
            for tag in "${tags[@]}"; do
              (set -x; sudo skopeo copy '${{ steps.rechunk.outputs.ref }}' "docker://ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:$tag")
            done
